<!DOCTYPE html>
<html>
<head>
  <title>Mapa con lugar estándar</title>
  <!-- Cargar la API de Google Maps de manera asíncrona con callback -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRQx6ssQ25Ezy99nFNHJYSCVIpE9JeAUI&libraries=marker&callback=initMap&loading=async" defer></script>
</head>
<body>
  <section>
    <input type="number" id="latitude" disabled>
    <input type="number" id="longitude" disabled>

    <form action="">
      <label for="inputLatitud">Ingrese la Latitud</label>
      <input type="number" id="inputLatitud" placeholder="Latitud">
      <label for="inputLongitud">Ingrese la Longitud</label>
      <input type="number" id="inputLongitud" placeholder="Longitud">
      <button type="button" onclick="geocodeAddress()">Buscar en Mapa</button>
    </form>

  </section>
  <div id="map" style="height: 500px; width: 100%;"></div>
  
  <!-- Script con la lógica del mapa -->
  <script src="../resources/maps.js" defer></script>
</body>
</html>



